:root {
    --moonless-night: #2F2B32;
    --lime-green: #A7BF2E;
    --white-desert: #FAF8ED;
    --orange-soda: #F95A37;

    --prussian-blue: #13293D;
    --sapphire-blue: #006496;
    --celadon-blue: #247BA0;
    --carolina-blue: #1B98E0;
    --azure-white: #E8F1F2;

    --ghost-white: #FBFBFF;
    --dark-pastel-green: #20BF55;
    --cyan-process: #01BAEF;
    --sonic-silver: #757575;

    --dark-night: #2d2d40;
    --purple-blue: #3d58c1;
    --grape: #75317d;
    --dark-grape: #400e42;
    --light-grape: #9954ad;

    --light-sky: #a0d2eb;
    --cloud-white: #e5eaf5;
    --lavender: #d0bdf4;
    --grape-sweet: #8458b3;
    --wet-concrete: #494d5f;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--cloud-white);
    background-color: var(--wet-concrete);
}

hr {
    background-color: var(--sonic-silver);
}


